<h1>All Workouts </h1>


<div>
    <div>
        <% @workouts.each do |w| %>
        <h2><%= link_to w.name, workouts_path(w) %></h2>
        <%= image_tag(w.image, alt: w.name, width: "300px") %>
        <% end %>
    </div>
</div>