<h1>Find Your Fitspiration</h1>


<div>
    <ul>
        <% @workouts.each do |w| %>
        <li><%= link_to image_tag(w.image, alt: w.name, width: "250px", height: "200px", :style => "padding: 5px"), workout_path(w) %></li>
        <% end %>
    </ul>
</div>