/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 span{
     font-size: 12px;
 }

 ul {
     list-style-type: none;
 }

 ul li {
     float: left;
 }


.form-control {
    width: 900px;
}

body{
    background: lightcoral;
    color: white;
    font-family: 'Cinzel', serif;
}

.navbar {
    
    color: black;
}
.container{
    text-align: center;
}

.credentials{
    margin-left: 620px;
}

.location{
    margin-left: -500px;
}
.name{
    margin-left: -540px;
}

.description{
    margin-left: -435px;
}

.reps{
    margin-left: -350px;
}

.duration{
    margin-left: -400px;
}

.image{
    margin-left: -500px;
    border-style: dotted 8px;
}

.submit{
    margin-left: -500px;
}
section{
    display: flex;
    border-style: dotted;
    padding: 90px;
    border-width: 5px;
}

section div{
    flex: 1;
    
}
.links{
    display: flex;
    justify-content: center;
   
    a{
        padding: 20px;
        color: white;
    }
}


